@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: theme(colors.background);
    color: theme(colors.foreground);
    overflow-x: hidden;

    --sb-track-color: theme(colors.backgroundSecondary);
    --sb-thumb-color: #424242;
    --sb-size: 14px;
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1px;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}