@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: theme(colors.background);
    color: theme(colors.foreground);
    overflow-x: hidden;

    --sb-track-color: theme(colors.backgroundSecondary);
    --sb-thumb-color: #424242;
    --sb-size: 14px;
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1px;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

.tab-navbar-scrollbar::-webkit-scrollbar {
    height: 5px;
}

.sidebar-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.tab-navbar-scrollbar::-webkit-scrollbar-thumb,
.sidebar-scrollbar::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
}

.tab-navbar-scrollbar::-webkit-scrollbar-track,
.sidebar-scrollbar::-webkit-scrollbar-track {
    background: var(--sb-track-color);
}

@supports not selector(::-webkit-scrollbar) {

    .tab-navbar-scrollbar,
    .sidebar-scrollbar {
        scrollbar-color: theme(colors.green_vs) var(--sb-track-color);
    }
}

/* Dark Mode Toggle */
#dark-toggle:checked~.dot {
    transform: translateX(100%);
}